.venv/
__pycache__/
*.pyc
.DS_Store

analysis/cache*/
analysis/*_smoke/
analysis/*_eval/
analysis/*_runtime*/
analysis/*_colab*/
analysis/*_60_20*/
analysis/fixed/
analysis/adaptive/
analysis/model_comparison/
output/

latex/technical_report/*.aux
latex/technical_report/*.fdb_latexmk
latex/technical_report/*.fls
latex/technical_report/*.log
latex/technical_report/*.out
latex/technical_report/*.toc
latex/technical_report/*.synctex.gz

notebooks/.ipynb_checkpoints/
